/* ---------------ESTILOS EN GENERAL----------------- */
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Fira Sans', sans-serif;
    background-color: rgb(204, 204, 17);
}
.resaltar{
    color: rgb(255, 230, 0);
}
/* -------------ESTILOS DE MI NAV------------------ */

.nav{
    background-color: yellow;
    border-style: solid;
    border: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-li{
    display: block;
    margin: 0 5px;
}
.nav-li a{
    height: 100px;
    text-decoration: none;
}
/* -----------------ESTILOS DE MI HEADER------------- */

.encabezado{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.encabezado h1{
    font-size: 50px;
}

header p{
    font-size: 30px;
}

/* -----------------ESTILOS DE MI MAIN--------------- */

.productos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.mates {
    background-image: url("imagenes/productos.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    width: 300px;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.munecos{
    background-image: url("imagenes/nosotros.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    width: 300px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mates a, .munecos a{
    color: rgb(209, 231, 9);
    text-decoration: none;
}

.descripcion-producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.descripcion-producto p, h2{
    text-align: center;
}

.about-imagen{
    height: 310px;
}

.giftcard{
    height: 310px;
}
.about,.apartado{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* --------------------ESTILOS DE MI MAIN, PARTE ABOUT---------- */

.main-nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-nosotros div p{
    font-size: 20px;
}
.about-imagen{
    width: 300px;
}
.about{
    display: flex;
}

.about p{
    margin: 40px;
    font-size: 35px;
}

/* ----------------ESTILOS HEADER, GIFTCARD-------------------- */

.encabezado p{
    text-align: center;
}

/* -----------ESTILOS DE MI MAIN, PARTE GIFTCARD-------------- */

#giftcard{
    font-size: 30px;
    text-align: center;
}

.giftcard1{
    height: 300px;
}

.apartado{
    display: flex;
}

.apartado p{
    font-size: 30px ;
    text-align: center;
}

.main-giftcard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.main-giftcard div{
    margin:0 30px;
}

.main-giftcard div p{
    font-size: 30px;
}

/* --------------------MAIN PRODUCTOS---------------------- */

main{
    display: grid;
    grid-template-areas: 
    "section-mates"
    "section-munecos"
    "section-otros"
    "section-table"
    ;
}

.section-mates{
    grid-area: section-mates;
}

.section-munecos{
    grid-area:section-munecos;
}

.section-otros{
    grid-area: section-otros;
}

.section-table{
    grid-area: section-table;
}

.encabezado-productos{
    text-align: center;
}

.imagen-producto{
    height: 200px;
}

.section-mates,.section-munecos,.section-otros{
    border: solid 1px;
}

.divs{
    text-align: center;
}

/* -------------------MAIN CONTACTOS------------------------ */

.main-contacto{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 500px;
}

.formulario{
    background-color: yellow;
    width: 250px;
    border: solid 4px;
}
.formulario-contacto{
    display: block;
}

.redes-logo{
    height: 25px;
}

#whap-num{
    display: inline;
}

/* --------------------ESTILOS DE MI FOOTER---------------- */

.footer{
    background-color: yellow;
    border: solid  black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer h2{
    margin: 15px 20px;
}

.footer-li{
    display: block;
}

.footer ul{
    margin: 0 5px;
}

.footer-li a{
    text-decoration: none;
}

/* ESTILOS MEDIA QUERIA PARA EL MAIN DE MI NOSOTROS.HTML CON CONFIGURACION PARA 320PX */

@media screen and (min-width:321px) {
    .about-imagen{
        width: 300px;
    } 
}

/* COMIENZO MEDIA QUERIE INDEX.MAIN */

/* CONFIGURACION MEDIA QUERIE PARA DISPOSITIVOS 426PX */
@media screen and (min-width:426px) {
    /* ESTILOS DE MI NAV(generales) */
    .nav{
        justify-content: space-between;
        align-items: center;
    }
    .nav-li{
        display: inline-block;
        margin: 0 5px;
    }
    .nav-li a{
        text-decoration: none;
    }
    /* ESTILO DE MI FOOTER(generales)*/
    .footer-li{
        display: inline-block;
        margin: 0 5px;
    }
    
    /* UTILIZO ESTA CONFIG DE MEDIA QUERIE PARA ESTILAR EL MAIN DE MI PRODUCTOS.HTML */

    main{
        display: grid;
        grid-template-areas: 
        "section-mates section-mates"
        "section-otros section-munecos"
        "section-table section-table"
        ;
    }

    /* UTILIZO ESTA CONFIG DE MEDIA QUERIE PARA ESTILAR EL MAIN DE MI NOSOTROS.HTML */

    .main-nosotros{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        height: 600px;
    }
    
    .main-nosotros div p{
        font-size: 28px;
    }
    /* UTILIZO ESTA CONFIGURACION DE MEDIA QUERIE PARA EL MAIN DE MI GIFTCARD.HTML */
#giftcard{
    font-size: 30px;
    text-align: center;
}

.giftcard1{
    height: 400px;
}

.apartado{
    display: flex;
}

.apartado p{
    font-size: 30px ;
    text-align: center;
}

.main-giftcard{
    display: flex;
    flex-direction: row;
    height: 600px;
}

.main-giftcard div{
    margin:0 30px;
}

.main-giftcard div p{
    font-size: 30px;
}
}
@media screen and (min-width:430px) {

    /* ESTILOS DE MI HEADER */

.encabezado{
    font-size: 35px;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header p{
    font-size: 30px;
}

.encabezado h1,.encabezado p{
    animation-name: fade-in;
    animation-timing-function: ease;
    animation-duration: 1.2s;
}

@keyframes fade-in{
    0%{
        opacity: 0;
        transform: translatex(-100%);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }

}

    /* ESTILOS DE MI MAIN */
    #main2{
        display: block;
    }
    .productos{
        display: flex;
        flex-direction: row;
    }
    .descripcion-producto{
        display: flex;
        flex-direction: row;
    }
    
    .descripcion-producto p, h2{
        text-align: center;
    }
    
    .about-imagen{
        height: 310px;
    }
    
    .giftcard{
        height: 310px;
    }
    .about,.apartado{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

/* CONFIGURACION MEDIA QUERIE PARA DISPOSITIVOS 769PX */

@media screen and (min-width:769px) {
    
.nav{
    align-items: center;
    justify-content: space-between;
}
nav h2{
    margin: 30px 15px;
}

nav ul{
    margin: 0 15px;
}
.nav-li{
    display: inline-block;
    margin: 0 15px;
    transition-duration: .5;
    transition-delay: .2;
    transition-timing-function: ease;
}

.nav-li:hover{
    background-color: black;
}

.nav-li a{
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    height: 88px;
    line-height: 88px;
    
}

.nav-li a:hover{
    color: white;
}


/* ESTILOS DE MI FOOTER(generales) */

.footer{
    align-items: center;
    justify-content: space-between;
}

.footer h2{
    margin: 15px 30px;
}

.footer-li{
    display: inline-block;
    margin: 0 15 px;
}

.footer-li a{
    text-decoration: none;
}
}
